.button {
  display: block;
  margin: 4% 12%;
  padding: 20px 10px;
  color: $white;
  background: $buttonColor;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background: $buttonColor2;
    color: $cinza;
    margin: 4% 11%;
  }
}
