$blue: #2146e9;
$red: #ce1616;
$white: #fff;
$buttonColor: rgb(239, 55, 162);
$buttonColor2: rgb(252, 113, 194);
$cinza: rgb(236, 236, 236);
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
